#menu-item {
    display: none;
}

@media (max-width: 768px) {
    #desk-header {
        display: none;
    }

    #mobile-header {
        display: block;
    }

    #mobile-header {
        width: 100%;
        padding: 20px 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    #menu-item {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 45vw;
        background-color: #136106;
        border: none;
        border-radius: 0 12px 12px 0;
        padding: 20px 25px;
        z-index: 999;
        transition: left 0.3s ease;
    }

    .menu-list ul li a {
        text-decoration: none;
        color: white;
        font-size: 17px;
    }

    .menu-list ul {
        list-style: none;
        margin-top: 30px;
    }

    .menu-icon i {
        font-size: 25px;
    }

    #closeMenu {
        color: white;
    }

    .menu-list ul li {
        padding: 8px 0;
    }

    .mob-register i {
        font-size: 25px;
        cursor: pointer;
        color: black;
        margin-top: 12px;
    }

    .input-form {
        width: 95%;
        padding: 25px 15px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input {
        font-size: 14px;
        padding: 6px 10px;
    }

    .form-buttons button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .form-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .data-box {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #resultTable {
        width: 100%;
        overflow-x: auto;
        display: flex;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    #resultTable th,
    #resultTable td {
        display: flex;
        flex-direction: column;
        color: black;
        padding: 10px;
        text-align: left;
        white-space: nowrap;
        font-size: 14px;
    }

    #resultTable th tr {
        background-color: #1a73e8;
    }

    #resultTable th {
        background-color: #f5f5f5;
        font-weight: 600;
    }
}


@media (max-width: 1024px) {
    .main-container {
        gap: 15px;
        padding: 40px 20px 0 20px;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-description {
        font-size: 20px;
        width: 80%;
        margin: 10px auto;
    }

    .hero-subtext {
        font-size: 15px;
    }

    .hero-features {
        margin: 30px auto;
        justify-content: center;
    }

    nav ul {
        gap: 10px;
    }

    .header-div {
        padding: 10px 80px;
    }

    .logo h1 {
        font-size: 25px;
    }

    .input-form {
        width: 90%;
        margin: 20px auto;
    }

    .benefits-section,
    .users-section {
        padding: 40px 8%;
    }

}